@page "/Novedades"

<br />
<h1 style="text-align:center">Novedades Elim Izalco App !</h1>
<br />
<MudCard>
    <MudCardHeader>
        <CardHeaderAvatar>
            <MudAvatar>Elim</MudAvatar>
        </CardHeaderAvatar>
        <CardHeaderContent>
            <MudText Typo="Typo.body1">Mision Cristiana Elim Izalco</MudText>
            <MudText Typo="Typo.body2">Informacion General</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardMedia Image="images/pilars.jpg" Height="350" />
    <MudCardContent>
        <MudText Typo="Typo.body2">Te Invitamos a nuestro Culto General</MudText>
    </MudCardContent>
    <MudCardActions>
        <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" />
        <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
    </MudCardActions>
</MudCard>
<br />
<MudCard>
    <MudCardHeader>
        <CardHeaderAvatar>
            <MudAvatar>Elim</MudAvatar>
        </CardHeaderAvatar>
        <CardHeaderContent>
            <MudText Typo="Typo.body1">Mision Cristiana Elim Izalco</MudText>
            <MudText Typo="Typo.body2">Informacion General</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardMedia Image="images/pilars.jpg" Height="350" />
    <MudCardContent>
        <MudText Typo="Typo.body2">Te Invitamos a nuestro Culto General</MudText>
    </MudCardContent>
    <MudCardActions>
        <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" />
        <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
    </MudCardActions>
</MudCard>
<br />
<MudCard>
    <MudCardHeader>
        <CardHeaderAvatar>
            <MudAvatar>Elim</MudAvatar>
        </CardHeaderAvatar>
        <CardHeaderContent>
            <MudText Typo="Typo.body1">Mision Cristiana Elim Izalco</MudText>
            <MudText Typo="Typo.body2">Informacion General</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardMedia Image="images/pilars.jpg" Height="350" />
    <MudCardContent>
        <MudText Typo="Typo.body2">Te Invitamos a nuestro Culto General</MudText>
    </MudCardContent>
    <MudCardActions>
        <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" />
        <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
    </MudCardActions>
</MudCard>

@code {

}
